.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}
.exp-title{
    position: relative;
}
.exp-title h1{
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;
}
.exp-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.experience-info {
    display: flex;
    gap: 20px;
}
.experience-left {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.experience-left .p1{
    font-size: 40px;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.experience-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.experience-para{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

@media(max-width: 768px) {
    .exp {
        margin: 50px 30px; 
        gap: 50px;
    }
    
    .exp-title h1 {
        font-size: 50px; 
        text-align: center;
        padding: 0;
    }

    .exp-title img {
        width: 120px; 
        right: -10px;
    }

    .experience-info {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 40px;
    }

    .experience-right {
        gap: 30px;
        text-align: center;
    }

    .experience-para {
        font-size: 18px; 
        line-height: 28px;
        text-align: center; 
        margin-left: 0;
    }

    .experience-para .p1 {
        font-size: 24px;
    }
}
